.container {
  position: absolute;
  border: 1px solid black;
  width: 100%;
  background: white;
  box-sizing: border-box;
  border-radius: 4px;
}
.option-item {
  text-align: left;
}
.option-item:hover {
  cursor: pointer;
  background: lightgray
}