.input-forms {
  margin-top: 40px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.gh-input{
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}
.completer-mount {
  position: relative;
}
.selected-person {
  margin-top: 20px;
}